section {
	width: 800px;
	margin: 100px auto;
}

header h1, section h4{
	font-family:'Rock Salt', cursive;
	font-weight: bold;
	text-align:center;
}

header h1{
	font-size: 30px;
	border-bottom: black dotted 8px;
}

section h4 {
	font-size: 38px;
	text-align: left;
}

section p {
	font: 16px 'Open Sans';
}

footer {
	text-align: center;
}
